<link rel="stylesheet" type="text/css" href="app/dist/css/menu.css">
<div ng-controller="menuCtrl">
  <a href="/participantes" class="link-menu">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="panel panel-default panel-default-menu">
        <div class="panel-heading panel-heading-menu"></div>
        <div class="panel-body panel-body-menu text-center">Fornecedor / Cliente</div>
      </div>
    </div>
  </a>
  <a href="/produtos" class="link-menu">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="panel panel-default panel-default-menu">
        <div class="panel-heading panel-heading-menu"></div>
        <div class="panel-body panel-body-menu text-center">Produtos</div>
      </div>
    </div>
  </a>
	<div id="footer">
    <div class="text-center">
      <p class="muted credit">MEI Plus</p>
    </div>
  </div>
</div>