<link rel="stylesheet" type="text/css" href="app/dist/css/property.css">
<div ng-controller="propertyCtrl">
	<div class="col-sm-9">
		<div class="panel panel-default">
		  <div class="panel-heading">
		  	<span>Imobilizados</span>
		  	<button type="button" class="btn btn-primary" ng-click="saveProperty(data)">
		  		<i class="glyphicon glyphicon-ok"></i>&nbsp;
		  		Salvar
		  	</button>
		  	<button type="button" class="btn btn-primary" ng-click="searchProperties()" style="margin-right: 10px">
		  		<i class="glyphicon glyphicon-search"></i>&nbsp;
		  		Pesquisar
		  	</button>
		  	<button type="button" class="btn btn-primary" ng-click="clear()" style="margin-right: 10px">
		  		<i class="glyphicon glyphicon-plus"></i>&nbsp;
		  		Novo
		  	</button>
		  </div>
		  <div class="panel-body panel-no-padding-bottom">
		    <form>
		    	<div class="row">
			    	<div class="col-sm-4">
							<div class="form-group" ng-class="{ 'has-error': getError('description') }">
					    	<label class="control-label">Descrição</label>
					    	<input type="text" class="form-control" placeholder="Descrição" ng-model="data.description">
							</div>
							<div class="form-group" ng-class="{ 'has-error': getError('invoice') }">
						    <label class="control-label">Nota fiscal</label>
						    <input type="text" class="form-control" placeholder="Nota fiscal" ng-model="data.invoice">
						  </div>
							<div class="form-group" ng-class="{ 'has-error': getError('participantId') }">
						    <label class="control-label">Fornecedor</label>
						    <select class="form-control" ng-model="data.participantId">
						    	<option ng-repeat="participant in participants" value="[[participant._id]]">[[participant.name]]</option>
						    </select>
						  </div>
						</div>
						<div class="col-sm-4">
							<div class="form-group" ng-class="{ 'has-error': getError('purchase') }">
					    	<label class="control-label">Data da compra</label>
					    	<input type="text" class="form-control" placeholder="Data da compra dd/mm/aaaa" ng-model="data.purchase" restrict="reject" clean="true" mask="39/19/9999">
							</div>
							<div class="form-group" ng-class="{ 'has-error': getError('accountingAccount') }">
						    <label class="control-label">Conta contável</label>
						    <select class="form-control" ng-model="data.accountingAccount">
						    	<option ng-repeat="accountingAccount in accountingAccounts" value="[[accountingAccount.id]]">[[accountingAccount.name]]</option>
						    </select>
						  </div>
							<div class="form-group" ng-class="{ 'has-error': getError('price') }">
					    	<label class="control-label">Valor da compra</label>
					    	<input type="text" class="form-control" placeholder="Valor da compra" ng-model="data.price">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group" ng-class="{ 'has-error': getError('depreciationYear') }">
						    <label class="control-label">Depreciação anual</label>
						    <input type="text" class="form-control" placeholder="Valor anual da depreciação" ng-model="data.depreciationYear">
						  </div>
							<div class="form-group" ng-class="{ 'has-error': getError('depreciationMonth') }">
					    	<label class="control-label">Depreciação mensal</label>
					    	<input type="text" class="form-control" placeholder="Depreciação mensal" ng-model="data.depreciationMonth">
							</div>
							 <div class="form-group" ng-class="{ 'has-error': getError('depreciation') }">
						    <label class="control-label">Depreciação final</label>
						    <input type="text" class="form-control" placeholder="Depreciação final do bem" ng-model="data.depreciation">
						  </div>
						</div>
					</div>
				</form>
		  </div>
		</div>
	</div>
	<div class="modal fade" tabindex="-1" role="dialog" id="modalProperties">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Imobilizados</h4>
	      </div>
	      <div class="modal-body">
	      	<input type="text" class="form-control" placeholder="Pesquisar" style="width: 300px" ng-model="modal.filter">
	      	<br>
	        <table class="table table-bordered table-condensed">
	        	<thead>
	        		<tr>
	        			<th>Descrição</th>
	        			<th class="text-center" width="150px">Valor</th>
	        			<th class="text-center" width="80px">Ações</th>
	        		</tr>
	        	</thead>
	        	<tbody>
	        		<tr dir-paginate="property in properties | filter: modal.filter | itemsPerPage: '5'">
	        			<td>[[property.description]]</td>
	        			<td class="text-center" width="150px">[[property.price]]</td>
	        			<td class="text-center" width="80px">
	        				<button type="button" class="btn btn-primary btn-xs" ng-click="editProperty(property)">Editar</button>
	        			</td>
	        		</tr>
	        	</tbody>
	        </table>
	        <div class="text-center">
	        	<dir-pagination-controls template-url="app/templates/pagination.html"></dir-pagination-controls>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>