<div ng-controller="realtimeCtrl">
	<div class="row">
		<div class="col-sm-3">
			<div id="tree"></div>
		</div>
		<div class="col-sm-9">
			<div class="row">
				<div class="col-sm-6">
					<table class="table table-bordered table-condensed">
						<thead>
							<tr>
								<th>Hello</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Hello</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-sm-6">
					<div class="panel panel-default">
					  <div class="panel-body text-center">
					    <h1>95%</h1>
					  </div>
					</div>
					<div class="panel panel-default">
					  <div class="panel-body text-center">
					    <img src="http://te.i.uol.com.br/album/Combinar_graficos_excel_f_001.jpg" alt="...">
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>